@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-image: linear-gradient(to right, #e5bdd4, #e1b9d4, #ddb4d5, #d7b1d7, #d1add8, #daacd3, #e2accd, #e8acc6, #f3b3b7, #f3beac, #eccbaa, #e0d8b2);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}